In [15]:
import pandas as pd

In [78]:
file = 'dataset_github/2019/main/labels.csv'
names = ['filename','standard','task2_class','tech_cond','Bathroom','Bathroom cabinet','Bathroom sink','Bathtub','Bed','Bed frame','Bed sheet','Bedroom','Cabinetry','Ceiling','Chair','Chandelier','Chest of drawers','Coffee table','Couch','Countertop','Cupboard','Curtain','Dining room','Door','Drawer','Facade','Fireplace','Floor','Furniture','Grass','Hardwood','House','Kitchen','Kitchen & dining room table','Kitchen stove','Living room','Mattress','Nightstand','Plumbing fixture','Property','Real estate','Refrigerator','Roof','Room','Rural area','Shower','Sink','Sky','Table','Tablecloth','Tap','Tile','Toilet','Tree','Urban area','Wall','Window']
labels_data = pd.read_csv(file, names=names)

In [90]:
print(labels_data.shape)

(2191, 50)

In [79]:
labels_data = labels_data.drop(labels=["filename", "Bathroom", "Bedroom", "Living room", "Kitchen", "Dining room", "House"], axis=1)

In [80]:
labels_data.columns

Index(['standard', 'task2_class', 'tech_cond', 'Bathroom cabinet',
       'Bathroom sink', 'Bathtub', 'Bed', 'Bed frame', 'Bed sheet',
       'Cabinetry', 'Ceiling', 'Chair', 'Chandelier', 'Chest of drawers',
       'Coffee table', 'Couch', 'Countertop', 'Cupboard', 'Curtain', 'Door',
       'Drawer', 'Facade', 'Fireplace', 'Floor', 'Furniture', 'Grass',
       'Hardwood', 'Kitchen & dining room table', 'Kitchen stove', 'Mattress',
       'Nightstand', 'Plumbing fixture', 'Property', 'Real estate',
       'Refrigerator', 'Roof', 'Room', 'Rural area', 'Shower', 'Sink', 'Sky',
       'Table', 'Tablecloth', 'Tap', 'Tile', 'Toilet', 'Tree', 'Urban area',
       'Wall', 'Window'],
      dtype='object')

In [105]:
labels_data.head(5)

,standard,task2_class,tech_cond,Bathroom cabinet,Bathroom sink,Bathtub,Bed,Bed frame,Bed sheet,Cabinetry,...,Sky,Table,Tablecloth,Tap,Tile,Toilet,Tree,Urban area,Wall,Window
552,3,house,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
553,4,house,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
554,3,house,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
555,4,house,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
556,4,house,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [104]:
labels_data = labels_data.drop(labels_data.index[0])

In [88]:
labels_data = labels_data[labels_data["task2_class"] !="validation"]

In [93]:
from sklearn import model_selection

In [106]:
array = labels_data.values
X = array[:,2:]
Y = array[:,1]
validation_size = 0.2
seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)

In [96]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [107]:
seed = 7
scoring = 'f1_weighted'

In [111]:
models = []
models.append(('LR', LogisticRegression(solver='liblinear', multi_class='ovr')))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))
# evaluate each model in turn
results = []
names = []
for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state=seed)
    cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

LR: 0.853692 (0.030119)
LDA: 0.834217 (0.029920)
KNN: 0.815599 (0.029763)
CART: 0.816841 (0.030641)
NB: 0.727946 (0.025931)
SVM: 0.832718 (0.026225)